.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 344px;
    margin: 100px auto 0 auto;
}

.app_type_menu-opened {
    position: fixed;
    left: calc(50% - 172px);
    top: 0;
}

/** {
    outline: 1px solid #f00 !important;
}*/
